1. Lees het bestand bank.csv in.  Het kan worden gebruikt om na te gaan of iemand een lening kan krijgen (kolom "pep" geeft dit weer)

In [2]:
import numpy as np
import pandas as pd
import graphviz
from id3 import Id3Estimator, export_graphviz

bank = pd.read_csv('data/bank.csv')
display(bank)

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,ID12101,48,FEMALE,INNER_CITY,17546.00,NO,1,NO,NO,NO,NO,YES
1,ID12102,40,MALE,TOWN,30085.10,YES,3,YES,NO,YES,YES,NO
2,ID12103,51,FEMALE,INNER_CITY,16575.40,YES,0,YES,YES,YES,NO,NO
3,ID12104,23,FEMALE,TOWN,20375.40,YES,3,NO,NO,YES,NO,NO
4,ID12105,57,FEMALE,RURAL,50576.30,YES,0,NO,YES,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
595,ID12696,61,FEMALE,INNER_CITY,47025.00,NO,2,YES,YES,YES,YES,NO
596,ID12697,30,FEMALE,INNER_CITY,9672.25,YES,0,YES,YES,YES,NO,NO
597,ID12698,31,FEMALE,TOWN,15976.30,YES,0,YES,YES,NO,NO,YES
598,ID12699,29,MALE,INNER_CITY,14711.80,YES,0,NO,YES,NO,YES,NO
599,ID12700,38,MALE,TOWN,26671.60,NO,0,YES,NO,YES,YES,YES

2. Dit bestand is niet direct bruikbaar voor ID3 en moet dus aangepast worden:
 * de kolom "id" bevat unieke id's voor klanten en kunnen dus niets voorspellen.  Verwijder deze kolom.
 * in dit bestand zitten ook continue variabelen (income, age, children)
  * zet de waarden van "income" om in 5 categorieën (klassen)
   * ]0 - 15538,8]
   * ]15538,8 - 21506,2]
   * ]21506,2 - 30404,3]
   * ]30404,3 - 44288,3]
   * ]44288,3 - 100000]
  * zet de waarden van "age" om in 2 categorieën:   ]0 - 41] en ]41-100]
 * de waarden van children kunnen maar 4 waarden aannemen, dus dat laten we zo

In [7]:
bank = bank.drop(['id'], axis=1)
display(bank)

KeyError: "['id'] not found in axis"

3. Maak een beslissingsboom met het ID3 algoritme.
Probeer de resulterende boom te interpreteren.  Komt dit overeen met je intuïtie?

4. Lees de oorspronkelijke data opnieuw in.
Verwijder alle nominale en ordinale attributen. Aangezien er continue variabelen zijn, kan je niet kiezen voor ID3 algoritme, maar je kan wel kiezen voor C4.5 m.b.v. de Scikit Learn DecisionTreeClassifier. Voer dit algoritme uit en kijk wat het resultaat is.  Is dit beter of slechter dan ID3?

5. Lees de oorspronkelijke data opnieuw in.
Ditmaal gaan geen attributen verwijderen en toch C4.5 gebruiken m.b.v. de Scikit Learn DecisionTreeClassifier en Pandas `get_dummies`. Voer dit algoritme uit en kijk wat het resultaat is.  Is dit beter of slechter dan vorige oplossingen?