# Sportstatistieken

We oefenen op basis Pandas commando's met de sport dataset.

Open de file 'sportdata.csv' en maak er een nieuwe dataframe van.

In [141]:
import pandas as pd
sportData = pd.read_csv('sportdata.csv', delimiter=';')
display(sportData)

    leeftijd geslacht      sport  keer per week  uren per week
0         12        m       geen              0              0
1         12        m  basketbal              1              2
2         13        m    voetbal              2              4
3         11        v    voetbal              2              4
4         13        v       geen              0              0
..       ...      ...        ...            ...            ...
70        12        v     turnen              2              4
71        11        v       judo              2              4
72        11        v    voetbal              1              2
73        12        v       geen              0              0
74        11        v     anders              1              2

[75 rows x 5 columns]

Toon alle data van rij 10 t.e.m. rij 20.

In [142]:
display(sportData.loc[10:20])

    leeftijd geslacht      sport  keer per week  uren per week
10        13        v       geen              0              0
11        11        m     turnen              2              4
12        12        v     anders              2              4
13        12        m    voetbal              1              2
14        13        v    zwemmen              2              4
15        14        v       geen              0              0
16        11        m    klimmen              2              4
17        11        v       geen              0              0
18        12        m       geen              0              0
19        13        m       geen              0              0
20        13        m  basketbal              2              4

Alle data van de eerste 2 kolommen van rij 10 tm 20.

In [143]:
display(sportData.loc[10:20][['leeftijd', 'geslacht']])

    leeftijd geslacht
10        13        v
11        11        m
12        12        v
13        12        m
14        13        v
15        14        v
16        11        m
17        11        v
18        12        m
19        13        m
20        13        m

Selecteer alle instanties die meer 3 keer per week sporten

In [144]:
display(sportData[sportData['keer per week'] >= 3])

    leeftijd geslacht      sport  keer per week  uren per week
23        13        m    voetbal              3              6
29        11        m    voetbal              4              8
31        11        m    klimmen              4              8
32        14        v       judo              3              6
35        13        m       judo              3              6
37        12        m  basketbal              4              8
38        13        m    voetbal              3              6
42        11        v    fitness              3              6
50        11        v    fitness              3              6
52        13        v  basketbal              3              6
54        12        v    voetbal              3              6
57        13        v       judo              3              6
59        13        v       judo              6             12
61        13        v  basketbal              5             10
65        11        v     anders              3              6

Hoeveel uur sporten deze personen gemiddelde per week?

In [145]:
display(round(sportData[sportData['keer per week'] >= 3]['uren per week'].mean(),2))

7.07

Wat is de gemiddelde leeftijd van de jongens die turnen?

In [146]:
display(round(sportData[sportData['sport'] == 'turnen']['leeftijd'].mean(),2))

11.83

Wat is het maximaal aantal uur dat iemand judo beoefent?

In [147]:
display(sportData[sportData['sport'] == 'judo']['uren per week'].max())

12