# Elektro-encefalografie

Elektro-encefalografie is een methode om de **elektrische activiteit** van de hersenen te meten. Het is een non-invasieve ingreep, waarbij de elektroden doorgaans op de hoofdhuid worden geplakt. EEG meet potentiaalverschillen die ontstaan door de ionenstroom in de zenuwcellen van de hersenen.  Via een speciale headset kan de hersenactiviteit in 14 punten gemeten worden.

Lees de **eegdata1.csv** dataset in een variabele `eeg1` en bekijk de eerste rijen en de datatypes van de kolommen. Zijn er noemenswaardige problemen?

In [208]:
import pandas as pd
eeg1 = pd.read_csv('eegdata1.csv', delimiter=',')
display(eeg1)

,COUNTER,INTERPOLATED,RAW_CQ,AF3,F7,F3,FC5,T7,P7,O1,...,F8,AF4,GYROX,GYROY,TIMESTAMP,ES_TIMESTAMP,FUNC_ID,FUNC_VALUE,MARKER,SYNC_SIGNAL
0,50,0,0,4354.358974,4220.000000,4356.410256,4400.000000,4369.743590,4481.538462,4601.025641,...,4188.717949,4990.769231,1594,1740,71.840,14.528111,0,0,0,0
1,51,0,0,4347.692308,4215.897436,4348.717949,4397.948718,4367.692308,4480.000000,4596.410256,...,4183.589744,4980.512821,1592,1739,71.848,14.528111,0,0,0,0
2,52,0,0,4341.025641,4206.153846,4348.205128,4394.358974,4364.102564,4476.923077,4590.769231,...,4173.333333,4972.307692,1594,1740,71.856,14.528111,0,0,0,0
3,53,0,0,4335.897436,4203.589744,4349.743590,4397.435897,4362.564103,4480.000000,4594.871795,...,4170.769231,4969.230769,1593,1737,71.864,14.528111,0,0,0,0
4,54,0,0,4335.384615,4205.641026,4345.128205,4399.487179,4365.641026,4485.641026,4600.512821,...,4170.256410,4964.102564,1593,1737,71.872,14.528111,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,41,0,0,4292.307692,4155.897436,4297.435897,4306.666667,4341.025641,4457.435897,4516.923077,...,4112.307692,4925.641026,1593,1739,75.804,18.531551,0,0,0,0
508,42,0,0,4292.307692,4153.333333,4297.435897,4300.512821,4342.051282,4454.871795,4518.461538,...,4113.846154,4930.769231,1593,1741,75.812,18.531551,0,0,0,0
509,43,0,0,4298.974359,4157.435897,4299.487179,4307.692308,4344.102564,4450.256410,4517.948718,...,4113.846154,4930.256410,1594,1739,75.820,18.531551,0,0,0,0
510,44,0,0,4303.076923,4159.487179,4298.461538,4310.769231,4344.615385,4451.794872,4517.948718,...,4110.769231,4918.461538,1592,1739,75.827,18.531551,0,0,0,0
511,45,0,0,4297.948718,4156.923077,4291.794872,4305.641026,4342.051282,4454.871795,4518.974359,...,4101.538462,4903.589744,1593,1739,75.835,18.531551,0,0,0,0

Print de kolomnamen op van de dataset en ook de index.

In [209]:
display(eeg1.columns)
display(eeg1.index)

Index(['COUNTER', 'INTERPOLATED', 'RAW_CQ', 'AF3', 'F7', 'F3', 'FC5', 'T7',
       'P7', 'O1', 'O2', 'P8', 'T8', 'FC6', 'F4', 'F8', 'AF4', 'GYROX',
       'GYROY', 'TIMESTAMP', 'ES_TIMESTAMP', 'FUNC_ID', 'FUNC_VALUE', 'MARKER',
       'SYNC_SIGNAL'],
      dtype='object')

RangeIndex(start=0, stop=512, step=1)

Print de waarden van meetpunt AF3 uit de `eeg1` dataset.

In [210]:
display(eeg1.AF3)

0      4354.358974
1      4347.692308
2      4341.025641
3      4335.897436
4      4335.384615
          ...
507    4292.307692
508    4292.307692
509    4298.974359
510    4303.076923
511    4297.948718
Name: AF3, Length: 512, dtype: float64

Print nu ook het **gemiddelde, de minimum en maximum waarden** van meetpunt AF3.

In [211]:
# 1
display(round(eeg1['AF3'].mean(),2))
# 2
display(round(eeg1['AF3'].min(),2))
# 3
display(round(eeg1['AF3'].max(),2))

4315.92

4267.18

4469.23

Doe hetzelfde voor de meetpunten F7 en F3.

In [212]:
# 1.1
display(round(eeg1['F7'].mean(),2))
# 2.1
display(round(eeg1['F7'].min(),2))
# 3.1
display(round(eeg1['F7'].max(),2))

# 1.2
display(round(eeg1['F3'].mean(),2))
# 2.2
display(round(eeg1['F3'].min(),2))
# 3.2
display(round(eeg1['F3'].max(),2))

4180.96

4143.08

4250.77

4322.66

4262.56

4392.82

Print de inhoud van de cel op positie [10, 10], print dan enkel de 4de kolom en print totslot enkel de 4de rij uit.

In [213]:
# 1
display(eeg1.iloc[10][10])
# 2
display(eeg1.iloc[:,3])
# 3
display(eeg1.iloc[3])

4012.307692

0      4354.358974
1      4347.692308
2      4341.025641
3      4335.897436
4      4335.384615
          ...
507    4292.307692
508    4292.307692
509    4298.974359
510    4303.076923
511    4297.948718
Name: AF3, Length: 512, dtype: float64

COUNTER           53.000000
INTERPOLATED       0.000000
RAW_CQ             0.000000
AF3             4335.897436
F7              4203.589744
F3              4349.743590
FC5             4397.435897
T7              4362.564103
P7              4480.000000
O1              4594.871795
O2              4010.256410
P8              4430.256410
T8              4364.102564
FC6             4576.410256
F4              4200.000000
F8              4170.769231
AF4             4969.230769
GYROX           1593.000000
GYROY           1737.000000
TIMESTAMP         71.864000
ES_TIMESTAMP      14.528111
FUNC_ID            0.000000
FUNC_VALUE         0.000000
MARKER             0.000000
SYNC_SIGNAL        0.000000
Name: 3, dtype: float64

Vraag de waarde van cel [1,1] op, verander ze daarna naar 120 en controleer of de waarde veranderd is.

In [214]:
# Get the value of cell [1,1]
old_value = eeg1.iloc[1, 1]
print("Old value:", old_value)

# Change the value of cell [1,1] to 120
eeg1.iloc[1, 1] = 120

# Check if the value has changed
new_value = eeg1.iloc[1, 1]
print("New value:", new_value)

if new_value == old_value:
    print("Value has not changed.")
else:
    print("Value has changed.")

Old value: 0
New value: 120
Value has changed.

Print de waarden van kolommen TIMESTAMP kolom uit als een series-object.

In [215]:
# Print the TIMESTAMP column as a Series object
timestamps = pd.Series(eeg1['TIMESTAMP'].values)
print(timestamps)

0      71.840
1      71.848
2      71.856
3      71.864
4      71.872
        ...
507    75.804
508    75.812
509    75.820
510    75.827
511    75.835
Length: 512, dtype: float64

Print de waarden van kolommen TIMESTAMP kolom uit als een dataframe-object. Gebruik een list van strings om te indexeren i.p.v. alleen een string.

In [216]:
# Print the TIMESTAMP column as a DataFrame object
timestamps = pd.DataFrame(eeg1.loc[:, ['TIMESTAMP']])
print(timestamps)

     TIMESTAMP
0       71.840
1       71.848
2       71.856
3       71.864
4       71.872
..         ...
507     75.804
508     75.812
509     75.820
510     75.827
511     75.835

[512 rows x 1 columns]

Lees dataset eegdata4.csv in een dataframe genaamd `eeg4` en bekijk de NA-waarden van deze dataset. Hoeveel vind je er per kolom? Hoeveel vind je er in totaal?

In [217]:
eeg4 = pd.read_csv('eegdata4.csv', delimiter=',')

# Count the number of missing values per column
missing_per_column = eeg4.isna().sum()

# Count the total number of missing values
total_missing = eeg4.isna().sum().sum()

# Print the results
print("Missing values per column:")
print(missing_per_column)
print("\nTotal number of missing values:", total_missing)

Missing values per column:
COUNTER         0
INTERPOLATED    0
RAW_CQ          0
AF3             1
F7              0
F3              0
FC5             0
T7              0
P7              1
O1              0
O2              1
P8              0
T8              0
FC6             0
F4              0
F8              0
AF4             0
GYROX           0
GYROY           0
TIMESTAMP       0
ES_TIMESTAMP    0
FUNC_ID         0
FUNC_VALUE      0
MARKER          0
SYNC_SIGNAL     0
dtype: int64

Total number of missing values: 3

Verander de NA-waarden naar de waarde -1, maar sla het resultaat niet op in het originele dataframe (dus voer de veranderingen niet door). Controleer of er dan effectief geen NA-waarden meer aanwezig zijn in het resulterende dataframe.

In [218]:
# Load CSV data into a pandas DataFrame
eeg4 = pd.read_csv('eegdata4.csv')

# Replace missing values with -1
eeg4_filled = eeg4.fillna(-1, inplace=False)

# Check for missing values in the resulting DataFrame
# Count the number of missing values per column
missing_per_column = eeg4_filled.isna().sum()

# Count the total number of missing values
total_missing = eeg4_filled.isna().sum().sum()

# Print the results
print("Missing values per column:")
print(missing_per_column)
print("\nTotal number of missing values:", total_missing)

Missing values per column:
COUNTER         0
INTERPOLATED    0
RAW_CQ          0
AF3             0
F7              0
F3              0
FC5             0
T7              0
P7              0
O1              0
O2              0
P8              0
T8              0
FC6             0
F4              0
F8              0
AF4             0
GYROX           0
GYROY           0
TIMESTAMP       0
ES_TIMESTAMP    0
FUNC_ID         0
FUNC_VALUE      0
MARKER          0
SYNC_SIGNAL     0
dtype: int64

Total number of missing values: 0

Verwijder nu alle rijen met een NA waarde met één commando, maar sla het resultaat ditmaal op in een nieuw dataframe genaamd eeg4_zonder_na.

In [219]:
# Drop rows with missing values and save the result to a new DataFrame
eeg4_zonder_na = eeg4.dropna()

# Check for missing values in the resulting DataFrame
# Count the number of missing values per column
missing_per_column = eeg4_filled.isna().sum()

# Count the total number of missing values
total_missing = eeg4_filled.isna().sum().sum()

# Print the results
print("Missing values per column:")
print(missing_per_column)
print("\nTotal number of missing values:", total_missing)

Missing values per column:
COUNTER         0
INTERPOLATED    0
RAW_CQ          0
AF3             0
F7              0
F3              0
FC5             0
T7              0
P7              0
O1              0
O2              0
P8              0
T8              0
FC6             0
F4              0
F8              0
AF4             0
GYROX           0
GYROY           0
TIMESTAMP       0
ES_TIMESTAMP    0
FUNC_ID         0
FUNC_VALUE      0
MARKER          0
SYNC_SIGNAL     0
dtype: int64

Total number of missing values: 0

Maak een nieuw dataframe, enkel de kolommen 4 tm 17.

In [220]:
# Create a new DataFrame with only columns 4 through 17
eeg4_subset = eeg4.iloc[:, 4:17]

# Display the new DataFrame
display(eeg4_subset)

,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4
0,4220.000000,4356.410256,4400.000000,4369.743590,4481.538462,4601.025641,4024.102564,4436.410256,4396.923077,4599.487179,4205.641026,4188.717949,4990.769231
1,4215.897436,4348.717949,4397.948718,4367.692308,4480.000000,4596.410256,4024.102564,4434.871795,4384.615385,4595.897436,4203.589744,4183.589744,4980.512821
2,4206.153846,4348.205128,4394.358974,4364.102564,4476.923077,4590.769231,4016.410256,4432.820513,4369.743590,4586.153846,4200.000000,4173.333333,4972.307692
3,4203.589744,4349.743590,4397.435897,4362.564103,4480.000000,4594.871795,4010.256410,4430.256410,4364.102564,4576.410256,4200.000000,4170.769231,4969.230769
4,4205.641026,4345.128205,4399.487179,4365.641026,4485.641026,4600.512821,4014.358974,4431.282051,4363.589744,4571.794872,4202.564103,4170.256410,4964.102564
5,4201.538462,4342.051282,4398.461538,4367.179487,4487.692308,4602.564103,4020.000000,4432.820513,4355.897436,4569.230769,4196.410256,4166.153846,4956.410256
6,4200.512821,4347.692308,4400.512821,4367.692308,4491.794872,4607.692308,4024.102564,4437.435897,4353.846154,4571.794872,4199.487179,4168.717949,4960.512821
7,4203.076923,4351.794872,4398.461538,4367.692308,4493.333333,4610.256410,4026.153846,4441.538462,4362.564103,4574.871795,4212.820513,4172.307692,4968.205128
8,4202.051282,4349.743590,4394.358974,4366.666667,4488.205128,4604.102564,4024.102564,4436.410256,4360.512821,4570.256410,4214.871795,4169.743590,4965.641026
9,4202.051282,4348.205128,4396.410256,4365.128205,4484.102564,4596.410256,4015.897436,4428.717949,4351.794872,4566.666667,4209.230769,4171.282051,4965.641026
10,4206.153846,4353.846154,4402.051282,4366.153846,4481.538462,4593.333333,4012.307692,4432.307692,4354.358974,4569.743590,4213.333333,4174.358974,4970.769231
11,4209.743590,4358.461538,4406.666667,4366.153846,4480.512821,4591.794872,4014.358974,4436.410256,4354.358974,4566.666667,4220.000000,4168.205128,4964.102564
12,4206.666667,4351.282051,4404.102564,4368.717949,4480.000000,4593.333333,4014.871795,4431.282051,4344.615385,4558.461538,4216.410256,4160.512821,4954.358974
13,4203.589744,4341.025641,4395.897436,4374.358974,4477.435897,4595.897436,4014.871795,4430.256410,4342.051282,4554.358974,4210.769231,4162.564103,4960.000000
14,4204.102564,4335.384615,4395.897436,4373.333333,4471.794872,4592.307692,4012.820513,4429.230769,4334.358974,4547.692308,4209.230769,4162.564103,4961.025641
15,4204.102564,4335.384615,4402.051282,4368.205128,4471.282051,4587.179487,4010.256410,4426.153846,4316.410256,4538.461538,4211.282051,4157.435897,4947.179487
16,4206.666667,4343.589744,4406.153846,4369.230769,4476.410256,4591.794872,4011.794872,4428.717949,4316.923077,4539.487179,4218.461538,4162.564103,4949.743590
17,4207.692308,4343.076923,4403.076923,4369.230769,4474.358974,4592.820513,4012.307692,4429.230769,4324.102564,4541.025641,4221.538462,4167.179487,4961.025641
18,4196.410256,4325.641026,4390.769231,4362.051282,4466.153846,4583.589744,4005.641026,4424.102564,4304.102564,4528.205128,4215.897436,4157.948718,4950.769231
19,4188.205128,4318.461538,4388.205128,4358.974359,4466.153846,4577.435897,4001.025641,4422.051282,4281.025641,4513.333333,4212.820513,4151.282051,4937.948718
20,4194.871795,4328.205128,4396.923077,4360.512821,4469.743590,4578.974359,4000.000000,4424.102564,4278.974359,4507.692308,4216.923077,4154.358974,4944.615385
21,4195.384615,4327.692308,4394.871795,4358.461538,NaN,4580.000000,4003.589744,4424.102564,4280.000000,4506.666667,4217.435897,4157.948718,4951.282051
22,4184.102564,4322.051282,4386.666667,4354.358974,4469.230769,4584.615385,4010.769231,4425.128205,4274.358974,4502.051282,4217.435897,4159.487179,4953.333333
23,4181.025641,4328.205128,4390.769231,4353.333333,4474.358974,4589.743590,4011.794872,4428.717949,4272.307692,4501.025641,4227.692308,4164.615385,4960.000000
24,4191.282051,4339.487179,4398.461538,4356.410256,4477.948718,4590.769231,4012.307692,4430.256410,4282.564103,4507.692308,4238.461538,4174.871795,4971.282051
25,4202.051282,4346.153846,4397.435897,4358.461538,4476.923077,4586.666667,4012.307692,4429.743590,4302.051282,4518.461538,4243.589744,4188.205128,4988.205128
26,4208.205128,4350.769231,4402.051282,4356.410256,4466.666667,4580.512821,4007.179487,4427.692308,4314.871795,4528.205128,4251.282051,4200.000000,5006.153846
27,4213.333333,4358.461538,4409.743590,4353.846154,4455.897436,4578.461538,4007.179487,4424.102564,4320.000000,4533.333333,4258.974359,4210.256410,5021.025641
28,4217.948718,4369.230769,4412.820513,4352.820513,4452.307692,4582.051282,4011.794872,4421.025641,4332.307692,4539.487179,4263.589744,4218.461538,5033.846154
29,4227.179487,4381.538462,4414.871795,4354.871795,4450.256410,4586.153846,4010.769231,4424.102564,4349.230769,4549.230769,4272.307692,4227.179487,5047.692308
30,4238.974359,4386.666667,4417.948718,4354.358974,4442.051282,4583.589744,4008.717949,4425.641026,4364.102564,4563.076923,4284.102564,4239.487179,5062.051282
31,4238.974359,4382.051282,4415.897436,4350.769231,4441.538462,4580.000000,4009.743590,4422.564103,4375.897436,4572.307692,4289.743590,4247.692308,5068.205128
32,4229.743590,4375.897436,4411.282051,4351.282051,4447.692308,4582.051282,4008.717949,4424.102564,4381.025641,4572.820513,4291.794872,4245.128205,5061.025641
33,4222.051282,4369.230769,4408.205128,4354.871795,4452.307692,4587.692308,4008.717949,4423.589744,4375.897436,4573.846154,4290.256410,4235.897436,5049.743590
34,4215.897436,4357.435897,4405.128205,4354.358974,4454.358974,4584.102564,4007.692308,4420.512821,4361.538462,4565.128205,4283.589744,4219.487179,5030.769231
35,4205.641026,4345.641026,4400.000000,4351.794872,4454.358974,4576.410256,4003.076923,4416.923077,4336.923077,4541.538462,4276.410256,4196.410256,5002.564103
36,4198.974359,4338.974359,4397.435897,4353.846154,4454.358974,4577.948718,4001.025641,4413.846154,4307.692308,4522.564103,4274.358974,4176.923077,4982.051282
37,4196.923077,4336.410256,4394.358974,4355.897436,4456.410256,4581.538462,3998.974359,4412.307692,4286.666667,4512.820513,4275.897436,4168.205128,4972.307692
38,4192.307692,4333.846154,4392.307692,4349.743590,4459.487179,4580.512821,NaN,4411.794872,4276.410256,4498.974359,4276.410256,4165.128205,4965.641026

Bereken per kolom het gemiddelde. Gebruik de .mean()-methode

In [221]:
# Compute the mean of each column
mean_per_column = eeg4.mean()

# Display the result
display(round(mean_per_column,2))

COUNTER           69.00
INTERPOLATED       0.00
RAW_CQ           278.82
AF3             4359.01
F7              4206.38
F3              4347.99
FC5             4400.50
T7              4360.95
P7              4469.76
O1              4589.13
O2              4011.69
P8              4427.25
T8              4333.56
FC6             4547.61
F4              4234.48
F8              4182.29
AF4             4982.62
GYROX           1593.41
GYROY           1739.08
TIMESTAMP         71.99
ES_TIMESTAMP      14.82
FUNC_ID            0.00
FUNC_VALUE         0.00
MARKER             0.00
SYNC_SIGNAL        0.00
dtype: float64

Bereken per rij het gemiddelde. Gebruik eveneens de .mean()-methode
data.mean(axis=1)

Wijzig het data type van timestamp (een float) naar een aantal microseconden sinds de start. De EEG headset doet namelijk 512 metingen elke 4ms.

Ga als volgt te werk:

1. Gebruik een reguliere expressie om de milliseconden te extraheren uit de timestamp. Dit doe je met een matching group.
2. Cast dat resultaat naar een int en zet die gegevens om naar `timedelta`-objecten met de `to_timedelta`-functie waarbij je de `unit` gelijkstelt aan `ms`. Stop het resultaat in een series genaamd `milliseconden`.
3. Doe gelijkaardige stappen voor de seconden.
4. Trek van alle seconden het minimumseconden af.
5. Tel de seconden op bij de milliseconden.

In [222]:
# Definieer een functie die de milliseconden en seconden uit de TIMESTAMP kolom haalt met behulp van een reguliere expressie en deze teruggeeft als een tuple:
import re

def extract_time(row):
    timestamp = row['TIMESTAMP']
    time_regex = re.compile(r'(?P<seconds>\d+)\.(?P<milliseconds>\d+)')
    match = time_regex.search(str(timestamp))
    if match:
        seconds = int(match.group('seconds'))
        milliseconds = int(match.group('milliseconds'))
        return seconds, milliseconds
    else:
        return None

# Pas deze functie toe op elke rij van de dataframe om de milliseconden en seconden te extraheren:
eeg4['time'] = eeg4.apply(extract_time, axis=1)

# Maak twee nieuwe kolommen aan in de dataframe voor de milliseconden en seconden:
eeg4['milliseconds'] = eeg4['time'].apply(lambda x: x[1])
eeg4['seconds'] = eeg4['time'].apply(lambda x: x[0])

# Trek het minimum aantal seconden af van elke seconde om te beginnen vanaf 0 seconden:
min_seconds = eeg4['seconds'].min()
eeg4['seconds'] = eeg4['seconds'] - min_seconds

# Tel de seconden en milliseconden op om de totale tijd in milliseconden te krijgen en sla deze op in een nieuwe kolom:
eeg4['time_since_start'] = eeg4['seconds'] * 1000 + eeg4['milliseconds']

# Verwijder de kolommen 'time', 'seconds', en 'milliseconds':
eeg_data = eeg4.drop(['time', 'seconds', 'milliseconds'], axis=1)

# Test
display(eeg_data)

,COUNTER,INTERPOLATED,RAW_CQ,AF3,F7,F3,FC5,T7,P7,O1,...,TIMESTAMP,ES_TIMESTAMP,FUNC_ID,FUNC_VALUE,MARKER,SYNC_SIGNAL,time,milliseconds,seconds,time_since_start
0,50,0,0,4354.358974,4220.000000,4356.410256,4400.000000,4369.743590,4481.538462,4601.025641,...,71.840,14.528111,0,0,0,0,"(71, 84)",84,0,84
1,51,0,0,4347.692308,4215.897436,4348.717949,4397.948718,4367.692308,4480.000000,4596.410256,...,71.848,14.528111,0,0,0,0,"(71, 848)",848,0,848
2,52,0,0,4341.025641,4206.153846,4348.205128,4394.358974,4364.102564,4476.923077,4590.769231,...,71.856,14.528111,0,0,0,0,"(71, 856)",856,0,856
3,53,0,0,4335.897436,4203.589744,4349.743590,4397.435897,4362.564103,4480.000000,4594.871795,...,71.864,14.528111,0,0,0,0,"(71, 864)",864,0,864
4,54,0,0,4335.384615,4205.641026,4345.128205,4399.487179,4365.641026,4485.641026,4600.512821,...,71.872,14.528111,0,0,0,0,"(71, 872)",872,0,872
5,55,0,0,4331.794872,4201.538462,4342.051282,4398.461538,4367.179487,4487.692308,4602.564103,...,71.880,14.528111,0,0,0,0,"(71, 88)",88,0,88
6,56,0,0,4326.666667,4200.512821,4347.692308,4400.512821,4367.692308,4491.794872,4607.692308,...,71.887,14.528111,0,0,0,0,"(71, 887)",887,0,887
7,57,0,0,4329.743590,4203.076923,4351.794872,4398.461538,4367.692308,4493.333333,4610.256410,...,71.895,14.528111,0,0,0,0,"(71, 895)",895,0,895
8,58,0,0,4335.897436,4202.051282,4349.743590,4394.358974,4366.666667,4488.205128,4604.102564,...,71.903,14.528111,0,0,0,0,"(71, 903)",903,0,903
9,59,0,0,4338.974359,4202.051282,4348.205128,4396.410256,4365.128205,4484.102564,4596.410256,...,71.910,14.528111,0,0,0,0,"(71, 91)",91,0,91
10,60,0,0,4343.076923,4206.153846,4353.846154,4402.051282,4366.153846,4481.538462,4593.333333,...,71.919,14.528111,0,0,0,0,"(71, 919)",919,0,919
11,61,0,0,4346.153846,4209.743590,4358.461538,4406.666667,4366.153846,4480.512821,4591.794872,...,71.926,14.528111,0,0,0,0,"(71, 926)",926,0,926
12,62,0,0,4343.589744,4206.666667,4351.282051,4404.102564,4368.717949,4480.000000,4593.333333,...,71.933,14.528111,0,0,0,0,"(71, 933)",933,0,933
13,63,0,0,4336.923077,4203.589744,4341.025641,4395.897436,4374.358974,4477.435897,4595.897436,...,71.942,14.528111,0,0,0,0,"(71, 942)",942,0,942
14,64,0,466,4328.205128,4204.102564,4335.384615,4395.897436,4373.333333,4471.794872,4592.307692,...,71.951,14.528111,0,0,0,0,"(71, 951)",951,0,951
15,65,0,410,4324.615385,4204.102564,4335.384615,4402.051282,4368.205128,4471.282051,4587.179487,...,71.959,14.528111,0,0,0,0,"(71, 959)",959,0,959
16,66,0,497,4332.307692,4206.666667,4343.589744,4406.153846,4369.230769,4476.410256,4591.794872,...,71.966,15.028541,0,0,0,0,"(71, 966)",966,0,966
17,67,0,504,4332.820513,4207.692308,4343.076923,4403.076923,4369.230769,4474.358974,4592.820513,...,71.974,15.028541,0,0,0,0,"(71, 974)",974,0,974
18,68,0,502,NaN,4196.410256,4325.641026,4390.769231,4362.051282,4466.153846,4583.589744,...,71.983,15.028541,0,0,0,0,"(71, 983)",983,0,983
19,69,0,486,4314.871795,4188.205128,4318.461538,4388.205128,4358.974359,4466.153846,4577.435897,...,71.989,15.028541,0,0,0,0,"(71, 989)",989,0,989
20,70,0,456,4323.589744,4194.871795,4328.205128,4396.923077,4360.512821,4469.743590,4578.974359,...,71.997,15.028541,0,0,0,0,"(71, 997)",997,0,997
21,71,0,383,4324.615385,4195.384615,4327.692308,4394.871795,4358.461538,NaN,4580.000000,...,72.005,15.028541,0,0,0,0,"(72, 5)",5,1,1005
22,72,0,383,4316.923077,4184.102564,4322.051282,4386.666667,4354.358974,4469.230769,4584.615385,...,72.012,15.028541,0,0,0,0,"(72, 12)",12,1,1012
23,73,0,526,4320.512821,4181.025641,4328.205128,4390.769231,4353.333333,4474.358974,4589.743590,...,72.020,15.028541,0,0,0,0,"(72, 2)",2,1,1002
24,74,0,465,4335.897436,4191.282051,4339.487179,4398.461538,4356.410256,4477.948718,4590.769231,...,72.028,15.028541,0,0,0,0,"(72, 28)",28,1,1028
25,75,0,452,4352.307692,4202.051282,4346.153846,4397.435897,4358.461538,4476.923077,4586.666667,...,72.036,15.028541,0,0,0,0,"(72, 36)",36,1,1036
26,76,0,352,4374.358974,4208.205128,4350.769231,4402.051282,4356.410256,4466.666667,4580.512821,...,72.043,15.028541,0,0,0,0,"(72, 43)",43,1,1043
27,77,0,395,4402.051282,4213.333333,4358.461538,4409.743590,4353.846154,4455.897436,4578.461538,...,72.051,15.028541,0,0,0,0,"(72, 51)",51,1,1051
28,78,0,465,4424.615385,4217.948718,4369.230769,4412.820513,4352.820513,4452.307692,4582.051282,...,72.058,15.028541,0,0,0,0,"(72, 58)",58,1,1058
29,79,0,452,4445.641026,4227.179487,4381.538462,4414.871795,4354.871795,4450.256410,4586.153846,...,72.066,15.028541,0,0,0,0,"(72, 66)",66,1,1066
30,80,0,352,4464.615385,4238.974359,4386.666667,4417.948718,4354.358974,4442.051282,4583.589744,...,72.075,15.028541,0,0,0,0,"(72, 75)",75,1,1075
31,81,0,395,4464.615385,4238.974359,4382.051282,4415.897436,4350.769231,4441.538462,4580.000000,...,72.083,15.028541,0,0,0,0,"(72, 83)",83,1,1083
32,82,0,465,4446.666667,4229.743590,4375.897436,4411.282051,4351.282051,4447.692308,4582.051282,...,72.091,15.028541,0,0,0,0,"(72, 91)",91,1,1091
33,83,0,452,4422.564103,4222.051282,4369.230769,4408.205128,4354.871795,4452.307692,4587.692308,...,72.098,15.028541,0,0,0,0,"(72, 98)",98,1,1098
34,84,0,352,4400.000000,4215.897436,4357.435897,4405.128205,4354.358974,4454.358974,4584.102564,...,72.106,15.028541,0,0,0,0,"(72, 106)",106,1,1106
35,85,0,395,4382.051282,4205.641026,4345.641026,4400.000000,4351.794872,4454.358974,4576.410256,...,72.114,15.028541,0,0,0,0,"(72, 114)",114,1,1114
36,86,0,465,4365.128205,4198.974359,4338.974359,4397.435897,4353.846154,4454.358974,4577.948718,...,72.122,15.028541,0,0,0,0,"(72, 122)",122,1,1122
37,87,0,452,4350.769231,4196.923077,4336.410256,4394.358974,4355.897436,4456.410256,4581.538462,...,72.129,15.028541,0,0,0,0,"(72, 129)",129,1,1129
38,88,0,352,4345.641026,4192.307692,4333.846154,4392.307692,4349.743590,4459.487179,4580.512821,...,72.137,15.028541,0,0,0,0,"(72, 137)",137,1,1137