In [832]:
import pandas as pd
import numpy as np

# Opgaven op Python, Numpy en Pandas
In de opgaveboekjes is het de bedoeling dat je zelf eerst goed zoekt, en wroet om oplossingen te vinden. Dit is de beste manier om veel bij te leren.

## Vraag 1
Maak een Pandas tabel met 4 kolommen.
* id: 1, 2, 3, 4, 5
* leeftijd: 15, 18, 11, 17, 20
* gewicht: 54, 68, 41, 59, 65
* temp: 36.5, 37.1, 36.4, 37.2, 36.9

Je kunt deze aanmaken op verschillende manieren, hoe meer je er vindt, hoe beter je de leerstof onder de knie hebt.

Enkele begrippen die je kunnen leiden in je zoektocht:
* een Python dictionary met Python lists
* een Python dictionary met Pandas Series
* een 2D - Numpy array

In [833]:
data = {"id": pd.Series([1, 2, 3, 4, 5]),
        "leeftijd": pd.Series([15, 18, 11, 17, 20]),
        "gewicht": pd.Series([54, 68, 41, 59, 65]),
        "temp": pd.Series([36.5, 37.1, 36.4, 37.2, 36.9])}

df = pd.DataFrame(data)
print(df)

   id  leeftijd  gewicht  temp
0   1        15       54  36.5
1   2        18       68  37.1
2   3        11       41  36.4
3   4        17       59  37.2
4   5        20       65  36.9

In [834]:
data = {"id": [1, 2, 3, 4, 5],
        "leeftijd": [15, 18, 11, 17, 20],
        "gewicht": [54, 68, 41, 59, 65],
        "temp": [36.5, 37.1, 36.4, 37.2, 36.9]}

df = pd.DataFrame(data)
print(df)

   id  leeftijd  gewicht  temp
0   1        15       54  36.5
1   2        18       68  37.1
2   3        11       41  36.4
3   4        17       59  37.2
4   5        20       65  36.9

In [835]:
data = np.array([[1, 15, 54, 36.5],
                 [2, 18, 68, 37.1],
                 [3, 11, 41, 36.4],
                 [4, 17, 59, 37.2],
                 [5, 20, 65, 36.9]])

df = pd.DataFrame(data, columns=["id", "leeftijd", "gewicht", "temp"])
print(df)

    id  leeftijd  gewicht  temp
0  1.0      15.0     54.0  36.5
1  2.0      18.0     68.0  37.1
2  3.0      11.0     41.0  36.4
3  4.0      17.0     59.0  37.2
4  5.0      20.0     65.0  36.9

## Vraag 2
Haal de 2e kolom uit de tabel. Hier zijn heel veel mogelijkheden om te doen.
Bekijk per mogelijkheid ook welke Python type het is. Vind je ze alle 7?

In [836]:
# 1
col_2 = df['leeftijd']
print(col_2)
print(type(col_2))

0    15.0
1    18.0
2    11.0
3    17.0
4    20.0
Name: leeftijd, dtype: float64
<class 'pandas.core.series.Series'>

In [837]:
# 2
col_2 = df.leeftijd
print(col_2)
print(type(col_2))

0    15.0
1    18.0
2    11.0
3    17.0
4    20.0
Name: leeftijd, dtype: float64
<class 'pandas.core.series.Series'>

In [838]:
# 3
col_2 = df.iloc[:,1]
print(col_2)
print(type(col_2))

0    15.0
1    18.0
2    11.0
3    17.0
4    20.0
Name: leeftijd, dtype: float64
<class 'pandas.core.series.Series'>

In [839]:
# 4
col_2 = df.loc[:,'leeftijd']
print(col_2)
print(type(col_2))

0    15.0
1    18.0
2    11.0
3    17.0
4    20.0
Name: leeftijd, dtype: float64
<class 'pandas.core.series.Series'>

## Vraag 3
Haal de 3e rij uit de tabel

In [840]:
print(col_2[2])

11.0

## Vraag 4
Bereken de minimum- en maximumleeftijd

In [841]:
# 1
display(round(df['leeftijd'].min(),2))

# 2
display(round(df['leeftijd'].max(),2))

11.0

20.0

## Vraag 5
Bereken de som van alle gewichten en deel die door het aantal gewichten

In [842]:
print(round(df['gewicht'].mean(),2))

57.4

## Vraag 6
Deel alle gewichten door 1000

In [843]:
print(round(df['gewicht']/1000,2))

0    0.05
1    0.07
2    0.04
3    0.06
4    0.06
Name: gewicht, dtype: float64

## Vraag 7
Zet alle temperaturen om naar Fahrenheit

In [844]:
df['temp'] = round(df['temp'].apply(lambda x: (x * 1.8) + 32),2)

print(df)

    id  leeftijd  gewicht   temp
0  1.0      15.0     54.0  97.70
1  2.0      18.0     68.0  98.78
2  3.0      11.0     41.0  97.52
3  4.0      17.0     59.0  98.96
4  5.0      20.0     65.0  98.42

## Vraag 8
Bewaar de tabel in een bestand

In [845]:
# Save the DataFrame to a CSV file
df.to_csv('data.csv', index=False)

## Vraag 9
Open de tabel in PyCharm als een datatabel (tabblad Data onderaan), verander er iets aan en bewaar terug.

In [846]:
# id,leeftijd,gewicht,temp
# 1.0,15.0,54.0,97.7
# 2.0,18.0,68.0,98.78
# 3.0,11.0,41.0,97.52
# 4.0,17.0,59.0,98.96
# 5.0,20.0,65.0,98.42

# To

# id,leeftijd,gewicht,temp
# 1.0,30.0,54.0,97.7
# 2.0,18.0,68.0,98.78
# 3.0,11.0,41.0,97.52
# 4.0,17.0,59.0,98.96
# 5.0,20.0,65.0,98.42

## Vraag 10
Lees de tabel terug uit het bestand

In [847]:
df = pd.read_csv('data.csv')
print(df)

    id  leeftijd  gewicht   temp
0  1.0      15.0     54.0  97.70
1  2.0      18.0     68.0  98.78
2  3.0      11.0     41.0  97.52
3  4.0      17.0     59.0  98.96
4  5.0      20.0     65.0  98.42

## Vraag 11
Verwijder de kolom “id”

In [848]:
# Remove the 'id' column
df = df.drop('id', axis=1)

# Show the updated DataFrame
print(df)

   leeftijd  gewicht   temp
0      15.0     54.0  97.70
1      18.0     68.0  98.78
2      11.0     41.0  97.52
3      17.0     59.0  98.96
4      20.0     65.0  98.42

## Vraag 12
Voeg een kolom “lengte” toe met gegevens: 160, 175, 162, 169, 179

In [849]:
# Add a new column 'lengte'
lengte = [160, 175, 162, 169, 179]
df['lengte'] = lengte

# Show the updated DataFrame
print(df)

   leeftijd  gewicht   temp  lengte
0      15.0     54.0  97.70     160
1      18.0     68.0  98.78     175
2      11.0     41.0  97.52     162
3      17.0     59.0  98.96     169
4      20.0     65.0  98.42     179

## Vraag 13
Bereken de BMI van iedere persoon in de tabel

In [850]:
# Calculate the BMI
BMI = round(df['gewicht'] / (df['lengte'] / 100) ** 2 ,2)

## Vraag 14
Voeg deze BMI als kolom toe aan de tabel

In [851]:
# BMI
df['BMI'] = BMI

# Show the updated DataFrame
print(df)

   leeftijd  gewicht   temp  lengte    BMI
0      15.0     54.0  97.70     160  21.09
1      18.0     68.0  98.78     175  22.20
2      11.0     41.0  97.52     162  15.62
3      17.0     59.0  98.96     169  20.66
4      20.0     65.0  98.42     179  20.29

## Vraag 15
Behoud alleen de gewichten die kleiner of gelijk zijn aan 60 uit de kolom gewicht.

In [852]:
# Keep only weights less than or equal to 60
df = df.loc[df['gewicht'] <= 60]

# Show the updated DataFrame
print(df)

   leeftijd  gewicht   temp  lengte    BMI
0      15.0     54.0  97.70     160  21.09
2      11.0     41.0  97.52     162  15.62
3      17.0     59.0  98.96     169  20.66

## Vraag 16
Vervang in de kolom leeftijd alle leeftijden groter of gelijk aan 18 door 19

In [853]:
# Replace all ages greater than or equal to 18 with 19
df.loc[df['leeftijd'] >= 18, 'leeftijd'] = 19

# Show the updated DataFrame
print(df)

   leeftijd  gewicht   temp  lengte    BMI
0      15.0     54.0  97.70     160  21.09
2      11.0     41.0  97.52     162  15.62
3      17.0     59.0  98.96     169  20.66

## Vraag 17
Vind alle temperaturen van de personen die ouder zijn dan 16 jaar

In [854]:
print(df.loc[df['leeftijd'] > 16].temp)

3    98.96
Name: temp, dtype: float64