# Oefeningen Smart Devices

De buurman heeft in zijn huis een aantal sensoren geplaatst. De sensoren meten het verbruik van bepaalde toestellen en ook de temperatuur.  De gegevens worden in een logbestand bewaard. In het bestand “smartDevices.csv” zie je de data van een aantal dagen staan. De buur heeft aan jou gevraagd om een script te schrijven waarmee hij maandelijks een nieuwe CSV kan aanmaken die een aantal gegevens op dagbasis wegschrijft. Om dit te doen moet je gegevens groeperen per dag.

Hij wil volgende zaken in het bestand zien staan:
- Datum
- Totaal verbruik in kWh voor die dag (enkel gegevens waarvan de eenheid kWh is)
- Gemiddelde temperatuur in de woonkamer (enkel metingen voor WOONKAMER)

Importeer hier alle nodige bibliotheken:

In [15]:
import pandas as pd

### Inlezen van de gegevens
Lees de dataset in.  Het CSV-bestand begint met enkele informatieregels, die moet je overslaan.
Je zal zien dat kommagetallen met een ',' geschreven zijn.  Lees dit juist in.

Bekijk de kolommen en hun datatypes.

In [16]:
smartDevices = pd.read_csv("data/smartDevices.csv", header=4, delimiter=";", decimal=",")
display(smartDevices)

,Login Naam,Gateway Mac Address,Apparaat-ID,Apparaat,Datum,Uur,Meetwaarde,Eenheid,Kost (EUR),CO2 (kg),Meettype,Consument / Producent,Hoofd / deelmeter,Type apparaat,Kamer,Groep-Ids,Groepen,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,bla@hotmail.com,123447484679,5653a456,wasmachine,2018-01-21,00:00,0.0002,kWh,0.0,0.0,electriciteit,Consument,Deelmeter,WASHINGMACHINE,DefaultRoom,NaN,NaN,NaN,NaN,NaN
1,bla@hotmail.com,123447484679,5653a456,wasmachine,2018-01-21,00:15,0.0001,kWh,0.0,0.0,electriciteit,Consument,Deelmeter,WASHINGMACHINE,DefaultRoom,NaN,NaN,NaN,NaN,NaN
2,bla@hotmail.com,123447484679,5653a456,wasmachine,2018-01-21,00:30,0.0001,kWh,0.0,0.0,electriciteit,Consument,Deelmeter,WASHINGMACHINE,DefaultRoom,NaN,NaN,NaN,NaN,NaN
3,bla@hotmail.com,123447484679,5653a456,wasmachine,2018-01-21,00:45,0.0001,kWh,0.0,0.0,electriciteit,Consument,Deelmeter,WASHINGMACHINE,DefaultRoom,NaN,NaN,NaN,NaN,NaN
4,bla@hotmail.com,123447484679,5653a456,wasmachine,2018-01-21,01:00,0.0001,kWh,0.0,0.0,electriciteit,Consument,Deelmeter,WASHINGMACHINE,DefaultRoom,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11177,bla@hotmail.com,123447484679,TM12:1543687,SLAAPKAMER,2018-01-28,22:45,14.0000,Celsius,0.0,0.0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN,NaN,NaN,NaN
11178,bla@hotmail.com,123447484679,TM12:1543687,SLAAPKAMER,2018-01-28,23:00,14.0000,Celsius,0.0,0.0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN,NaN,NaN,NaN
11179,bla@hotmail.com,123447484679,TM12:1543687,SLAAPKAMER,2018-01-28,23:15,14.0000,Celsius,0.0,0.0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN,NaN,NaN,NaN
11180,bla@hotmail.com,123447484679,TM12:1543687,SLAAPKAMER,2018-01-28,23:30,14.0000,Celsius,0.0,0.0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN,NaN,NaN,NaN
11181,bla@hotmail.com,123447484679,TM12:1543687,SLAAPKAMER,2018-01-28,23:45,14.0000,Celsius,0.0,0.0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN,NaN,NaN,NaN

Er zijn 3 kolommen zonder naam (unnamed).  Verwijder deze

In [17]:
smartDevices = smartDevices.drop(columns=['Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'], axis=1)
display(smartDevices)

,Login Naam,Gateway Mac Address,Apparaat-ID,Apparaat,Datum,Uur,Meetwaarde,Eenheid,Kost (EUR),CO2 (kg),Meettype,Consument / Producent,Hoofd / deelmeter,Type apparaat,Kamer,Groep-Ids,Groepen
0,bla@hotmail.com,123447484679,5653a456,wasmachine,2018-01-21,00:00,0.0002,kWh,0.0,0.0,electriciteit,Consument,Deelmeter,WASHINGMACHINE,DefaultRoom,NaN,NaN
1,bla@hotmail.com,123447484679,5653a456,wasmachine,2018-01-21,00:15,0.0001,kWh,0.0,0.0,electriciteit,Consument,Deelmeter,WASHINGMACHINE,DefaultRoom,NaN,NaN
2,bla@hotmail.com,123447484679,5653a456,wasmachine,2018-01-21,00:30,0.0001,kWh,0.0,0.0,electriciteit,Consument,Deelmeter,WASHINGMACHINE,DefaultRoom,NaN,NaN
3,bla@hotmail.com,123447484679,5653a456,wasmachine,2018-01-21,00:45,0.0001,kWh,0.0,0.0,electriciteit,Consument,Deelmeter,WASHINGMACHINE,DefaultRoom,NaN,NaN
4,bla@hotmail.com,123447484679,5653a456,wasmachine,2018-01-21,01:00,0.0001,kWh,0.0,0.0,electriciteit,Consument,Deelmeter,WASHINGMACHINE,DefaultRoom,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11177,bla@hotmail.com,123447484679,TM12:1543687,SLAAPKAMER,2018-01-28,22:45,14.0000,Celsius,0.0,0.0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN
11178,bla@hotmail.com,123447484679,TM12:1543687,SLAAPKAMER,2018-01-28,23:00,14.0000,Celsius,0.0,0.0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN
11179,bla@hotmail.com,123447484679,TM12:1543687,SLAAPKAMER,2018-01-28,23:15,14.0000,Celsius,0.0,0.0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN
11180,bla@hotmail.com,123447484679,TM12:1543687,SLAAPKAMER,2018-01-28,23:30,14.0000,Celsius,0.0,0.0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN
11181,bla@hotmail.com,123447484679,TM12:1543687,SLAAPKAMER,2018-01-28,23:45,14.0000,Celsius,0.0,0.0,Thermostat Setpoint,NaN,NaN,NaN,DefaultRoom,NaN,NaN

### Numeriek maken
Wat is het type van de elementen in de kolom "Meetwaarde"?
Als dit float is, dan is alles OK en heb je het bestand juist ingelezen.
Als dat niet het geval is, heb je een fout gemaakt bij het inlezen van het bestand.  Kan je zien welke?
Zet in dit geval de kolom "Meetwaarde" om naar decimale waarden.

In [18]:
display(smartDevices.Meetwaarde.dtype)

# df['Meetwaarde'] = pd.to_numeric(df['Meetwaarde'], errors='coerce')

dtype('float64')

### Categorical

Verwijder alle kolommen die maar 1 waarde of enkel ontbrekende waarden bevatten.  Deze zijn toch maar constanten en hoeven niet bijgehouden te worden.

In [19]:
# Verwijder alle kolommen die maar 1 waarde of enkel ontbrekende waarden bevatten
smartDevices = smartDevices.dropna(axis=1, how='all') # Verwijder kolommen met alleen ontbrekende waarden
for col in smartDevices.columns:
    if smartDevices[col].nunique() == 1:
        smartDevices = smartDevices.drop(col, axis=1) # Verwijder kolommen met slechts 1 unieke waarde

display(smartDevices)

,Apparaat-ID,Apparaat,Datum,Uur,Meetwaarde,Eenheid,Kost (EUR),Meettype,Type apparaat
0,5653a456,wasmachine,2018-01-21,00:00,0.0002,kWh,0.0,electriciteit,WASHINGMACHINE
1,5653a456,wasmachine,2018-01-21,00:15,0.0001,kWh,0.0,electriciteit,WASHINGMACHINE
2,5653a456,wasmachine,2018-01-21,00:30,0.0001,kWh,0.0,electriciteit,WASHINGMACHINE
3,5653a456,wasmachine,2018-01-21,00:45,0.0001,kWh,0.0,electriciteit,WASHINGMACHINE
4,5653a456,wasmachine,2018-01-21,01:00,0.0001,kWh,0.0,electriciteit,WASHINGMACHINE
...,...,...,...,...,...,...,...,...,...
11177,TM12:1543687,SLAAPKAMER,2018-01-28,22:45,14.0000,Celsius,0.0,Thermostat Setpoint,NaN
11178,TM12:1543687,SLAAPKAMER,2018-01-28,23:00,14.0000,Celsius,0.0,Thermostat Setpoint,NaN
11179,TM12:1543687,SLAAPKAMER,2018-01-28,23:15,14.0000,Celsius,0.0,Thermostat Setpoint,NaN
11180,TM12:1543687,SLAAPKAMER,2018-01-28,23:30,14.0000,Celsius,0.0,Thermostat Setpoint,NaN
11181,TM12:1543687,SLAAPKAMER,2018-01-28,23:45,14.0000,Celsius,0.0,Thermostat Setpoint,NaN

Zet de kolommen met nominale of ordinale gegevens (strings) om naar een Categorical.  De datums en tijdstippen mag je negeren.

In [20]:
smartDevices['Apparaat-ID'] = pd.Categorical(smartDevices['Apparaat-ID'])
smartDevices['Apparaat'] = pd.Categorical(smartDevices['Apparaat'])
smartDevices['Eenheid'] = pd.Categorical(smartDevices['Eenheid'])
smartDevices['Meettype'] = pd.Categorical(smartDevices['Meettype'])
smartDevices['Type apparaat'] = pd.Categorical(smartDevices['Type apparaat'])

Geef een lijst van alle kolomnamen die ontbrekende waarden bevatten.  Geef het resultaat als een pandas Series van strings (de namen van de kolommen met ontbrekende waarden).

In [21]:
nanLijst = smartDevices.isna().any()
nanLijst = pd.Series(nanLijst.index[nanLijst])

display(nanLijst)
display(type(nanLijst))

0    Type apparaat
dtype: object

pandas.core.series.Series

Schrijf de gegevens nu weg naar een bestand "smartDevices_resultaat.csv".  Gebruik een "." voor decimale getallen en een tab als deliminator.

In [22]:
smartDevices.to_csv('data/smartDevices_resultaat.csv', decimal='.', sep=",")