# Oefening Airports

Importeer hier alle nodige bibliotheken:

In [576]:
import pandas as pd

Lees de volgende CSV-bestanden met de vertragingsgegevens van Amerikaanse luchtvaartmaatschappijen in in twee DataFrames. Je vindt deze gegevens op volgende URL's:

* https://raw.githubusercontent.com/nickdcox/learn-airline-delays/main/delays_2018.csv (noem dit dataframe `delays2018`)
* https://raw.githubusercontent.com/nickdcox/learn-airline-delays/main/delays_2019.csv (noem dit dataframe `delays2019`)

Je vindt daarin volgende gegevens:

```{text}
            Column Name                                                                                           Description
0                  date                                                   Year and month, in the format YYYY-M (e.g., 2018-1)
1               carrier                                                 The two character designator for the carrier/airline.
2          carrier_name                                                                 The full name of the carrier/airline.
3               airport                                               The three character designator for the arrival airport.
4          airport_name                                                                 The full name of the arrival airport.
5           arr_flights            The total number of arriving flights for the carrier-airport pair for the month specified.
6             arr_del15   The number of arriving flights that were delayed. Delayed is when a flight arrives more than 15 ...
7            carrier_ct                                        The number of arriving flights delayed due to a carrier issue.
8            weather_ct                                        The number of arriving flights delayed due to a weather issue.
9                nas_ct                            The number of arriving flights delayed due to a national air system issue.
10          security_ct                                      The number of arriving flights delayed due to a security issue.
11     late_aircraft_ct                The number of arriving flights delayed due to an earlier late arrival of an aircraft.
12        arr_cancelled                                                                     The number of cancelled flights.
13         arr_diverted                                                                      The number of diverted flights.
14            arr_delay                                                   The total number of delayed minutes due to delays.
15        carrier_delay                                           The total number of delayed minutes due to carrier issues.
16        weather_delay                                           The total number of delayed minutes due to weather issues.
17            nas_delay                               The total number of delayed minutes due to national air system issues.
18       security_delay                                          The total number of delayed minutes due to security issues.
19  late_aircraft_delay                        The total number of delayed minutes due to earlier later arrival of aircraft.
```

In [577]:
delays2018 = pd.read_csv("delays_2018.csv", sep=",", decimal=".", header=0)
delays2019 = pd.read_csv("delays_2019.csv", sep=",", decimal=".", header=0)

Concateneer de twee dataframes tot één dataframe genaamd `delays` en geef vervolgens het totale aantal rijen weer. Je kan dataframes concateneren met de methode `concat()`. Maak een nieuwe index aan bij het concateneren, dat kan met een bepaalde parameter. In totaal zou je 41177 rijen moeten bekomen. Controleer dat.

In [578]:
delays = pd.concat([delays2018, delays2019], ignore_index=True)

# TEST
display(delays)
print(len(delays))

,date,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,1.94,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018-1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,6.76,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018-1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,5.61,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018-1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,2.98,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018-1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,6.62,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41172,2019-1,MQ,Envoy Air,RIC,"Richmond, VA: Richmond International",195.0,68.0,12.12,1.87,17.97,0.0,36.04,22.0,0.0,4138.0,603.0,196.0,780.0,0.0,2559.0
41173,2019-1,MQ,Envoy Air,ROA,"Roanoke, VA: Roanoke Blacksburg Regional Woodr...",52.0,14.0,2.74,0.69,2.46,0.0,8.11,2.0,1.0,726.0,323.0,31.0,112.0,0.0,260.0
41174,2019-1,MQ,Envoy Air,ROC,"Rochester, NY: Greater Rochester International",106.0,26.0,4.67,2.26,11.81,0.0,7.26,17.0,0.0,1259.0,313.0,99.0,484.0,0.0,363.0
41175,2019-1,MQ,Envoy Air,RST,"Rochester, MN: Rochester International",116.0,35.0,6.83,6.92,11.50,0.0,9.75,22.0,0.0,2307.0,474.0,633.0,523.0,0.0,677.0
41176,2019-1,MQ,Envoy Air,SAT,"San Antonio, TX: San Antonio International",26.0,4.0,1.16,0.64,1.92,0.0,0.29,5.0,0.0,120.0,50.0,14.0,41.0,0.0,15.0

41177

Welke rijen hebben minstens 1 van volgende eigenschappen?
* de luchthaven heeft geen arriving flights (ontbrekende waarde voor arr_flights)
* lege carrier of lege airports

Verwijder deze rijen uit de tabel
In totaal zou je nu nog 41097 rijen moeten overhouden. Controleer dat.

In [579]:
dataNAN = delays.arr_flights.isna() | delays.carrier.isna() | delays.airport.isna()

dataNANIndex = dataNAN.index[dataNAN]

delays = delays.drop(dataNANIndex)

# TEST
print(len(delays))

41097

Geef een lijst weer van alle luchthavens waarvan de airport in "Tennessee" ligt. Deze luchthavens hebben de letters "TN:" in hun "airport_name" zitten. Dit zouden er 5 moeten zijn.  Je kan dit met een for lus doen, maar er is ook een methode "contains()" die je kan gebruiken op een pandas Series.  Het resultaat is een lijst van booleans die weergeeft op welke plaats het gezochte patroon voorkomt.

In [580]:
TN_Name = delays.airport_name.str.contains("TN:")


print(delays.airport[TN_Name].unique())
print(len(delays.airport[TN_Name].unique()))

['BNA' 'MEM' 'CHA' 'TYS' 'TRI']
5

Importeer het coördinatenbestand "airport_coordinates.csv". Dit bestand bevat de lengte -en breedtegraden van verschillende Amerikaanse luchthavens evenals hun airport-code

In [581]:
airports_coord = pd.read_csv("airport_coordinates.csv", sep=",", decimal=".", header=0)

# TEST
display(airports_coord)
print(len(airports_coord))

     airport        lat        long
0        01A  58.109444 -152.906667
1        03A  65.548056 -161.071667
2        04A  68.083333 -163.166667
3        05A  67.570000 -148.183889
4        06A  57.745278 -152.882778
...      ...        ...         ...
4086     RVR        NaN         NaN
4087     MAZ        NaN         NaN
4088     NRR        NaN         NaN
4089     PPD        NaN         NaN
4090     SIG        NaN         NaN

[4091 rows x 3 columns]

4091

Volgende code wordt al gegeven.  Ze maakt een nieuw dataframe, genaamd "airports", met een lijst van luchthavens en hun code ("airport" en "airport_name"). In dit nieuwe dataframe worden duplicaten verwijderd. Daarna worden de twee dataframes samengevoegd op de `airport`-sleutel met de "merge"-methode.  Het resultaat is een tabel met "airport", "airport_name", "lat" en "long" als komommen.

In [582]:
# keep
airports = delays[['airport', 'airport_name']]
airports = airports.drop_duplicates()
result = airports.merge(airports_coord)

# TEST
display(result)
print(len(result))

,airport,airport_name,lat,long
0,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",46.778889,-100.752500
1,BNA,"Nashville, TN: Nashville International",36.126667,-86.681944
2,BOI,"Boise, ID: Boise Air Terminal",43.565278,-116.225000
3,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",29.950833,-94.020000
4,BUF,"Buffalo, NY: Buffalo Niagara International",42.941111,-78.736389
...,...,...,...,...
355,PAE,"Everett, WA: Snohomish County",47.908333,-122.281389
356,ATY,"Watertown, SD: Watertown Regional",44.908889,-97.154167
357,PIR,"Pierre, SD: Pierre Regional",44.383611,-100.284167
358,BFM,"Mobile, AL: Mobile Downtown",30.626389,-88.068056
359,XWA,"Williston, ND: Williston Basin International",48.260833,-103.751111

360

Bereken de gemiddelde lengte- en breedtegraad van alle luchthavens waarvan de naam begint met de letter 'B'.  Je kan hierbij de methode "startswith()" van Series gebruiken.

In [583]:
# The startswith() method returns True if the string starts with the specified value, otherwise False.
breedtegraad = result[result.airport_name.str.startswith("B")].lat.mean()

lengtegraad = result[result.airport_name.str.startswith("B")].long.mean()

# TEST
print("Breedtegraad ->" ,breedtegraad)
print("Lengtegraad ->" ,lengtegraad)

Breedtegraad -> 41.75543103413793
Lengtegraad -> -100.07142720172413

Bereken de minimale en maximale waarden voor latitude en longitude.  Waar zijn de luchthavens gesitueerd?

In [584]:
minLat = result.lat.min()
maxLat = result.lat.max()
minLong = result.long.min()
maxLong = result.long.max()

# TEST
print("Minimale latitude ->", minLat)
print("Maximale latitude ->", maxLat)
print("Minimale longitude ->", minLong)
print("Maximale longitude ->", maxLong)

Minimale latitude -> 17.70388889
Maximale latitude -> 71.28555556
Minimale longitude -> -176.6447222
Maximale longitude -> -64.79888889

Voeg een nieuwe kolom "zone" toe die aangeeft waar de luchthaven zich ergens bevindt.  Er zijn vier zones:
- "ZW": Zuid-Westelijk (lat < 44.48, long < -120.72)
- "ZO": Zuid-Oostelijk (lat < 44.48, long > -120.72)
- "NW": Noord-Westelijk (lat > 44.48, long < -120.72)
- "NO": Noord-Oostelijk (lat > 44.48, long > -120.72)
Gebruik de afkortingen ZW, ZO, NW en NO als waarden voor de nieuwe kolom.

In [585]:
zone = []
waarden = ""
for rij in range(len(result)):
    # ZW
    if result.lat[rij] < 44.48 and result.long[rij] < -120.72:
        waarden = "ZW"
    # ZO
    if result.lat[rij] < 44.48 and result.long[rij] > -120.72:
        waarden = "ZO"
    # NW
    if result.lat[rij] >  44.48 and result.long[rij] < -120.72:
        waarden = "NW"
    # NO
    if result.lat[rij] >  44.48 and result.long[rij] > -120.72:
        waarden = "NO"
    # Voegt elke keer de waarde die boven is gevonden, toe aan zone.
    zone.append(waarden)

# Maakt een nieuwe kolom in de df result genaamd zone en voegt de lijst zone hier aan toe.
result["zone"] = zone

# TEST
display(result)

,airport,airport_name,lat,long,zone
0,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",46.778889,-100.752500,NO
1,BNA,"Nashville, TN: Nashville International",36.126667,-86.681944,ZO
2,BOI,"Boise, ID: Boise Air Terminal",43.565278,-116.225000,ZO
3,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",29.950833,-94.020000,ZO
4,BUF,"Buffalo, NY: Buffalo Niagara International",42.941111,-78.736389,ZO
...,...,...,...,...,...
355,PAE,"Everett, WA: Snohomish County",47.908333,-122.281389,NW
356,ATY,"Watertown, SD: Watertown Regional",44.908889,-97.154167,NO
357,PIR,"Pierre, SD: Pierre Regional",44.383611,-100.284167,ZO
358,BFM,"Mobile, AL: Mobile Downtown",30.626389,-88.068056,ZO
359,XWA,"Williston, ND: Williston Basin International",48.260833,-103.751111,NO

Bereken nu de gemiddelde latitude en longitude per zone.  Je mag dit doen met een for loop.  Er is een methode "mean()" die het gemiddelde van een Series berekent.  Die mag je gebruiken.

In [586]:
for zone in result.zone.unique():
    # De latitude wordt in het variabel "lat" gezet als het gelijk is aan de gegeven zone in de loop.
    lat = result.lat[result.zone == zone]
    # Het gemiddelde wordt berekend van het variabel "lat"
    gem_lat = lat.mean()
    # De longitude wordt in het variabel "long" gezet als het gelijk is aan de gegeven zone in de loop.
    long = result.long[result.zone == zone]
    # Het gemiddelde wordt berekend van het variabel "long"
    gem_long = long.mean()
    # Print data
    print(zone + ": Gemiddelde latitude ->", gem_lat, "\t", zone + ": Gemiddelde longitude ->", gem_long)

NO: Gemiddelde latitude -> 46.268080808409096 	 NO: Gemiddelde longitude -> -97.15940656068183
ZO: Gemiddelde latitude -> 36.60349409842491 	 ZO: Gemiddelde longitude -> -90.93104904216118
ZW: Gemiddelde latitude -> 35.43457516411765 	 ZW: Gemiddelde longitude -> -130.51699347058826
NW: Gemiddelde latitude -> 58.22694444478261 	 NW: Gemiddelde longitude -> -144.12050725652173