# Callcenter calls

Om de verloven van het personeel van een call center te plannen wil men het aantal calls van de volgende 3 maand voorspellen aan de hand van Seasonal Decomposition Forecasting. Het aantal calls per maand vind je terug in het bestand `calls4jaar.csv` (oude examenvraag)

In [1]:
import pandas as pd

alls4jaar = pd.read_csv('data/calls4jaar.csv', sep=';')

display(alls4jaar)

    Jaar  Maand  AantalCalls
0      1      1        12808
1      1      2        13668
2      1      3        14087
3      1      4         7497
4      1      5        10716
5      1      6         8805
6      1      7         1783
7      1      8         2223
8      1      9         6320
9      1     10         4122
10     1     11         8522
11     1     12         9849
12     2      1        10359
13     2      2        14040
14     2      3        12615
15     2      4         6865
16     2      5         9805
17     2      6         6922
18     2      7         1700
19     2      8         1902
20     2      9         5096
21     2     10         3844
22     2     11         7487
23     2     12         9279
24     3      1         9748
25     3      2        11432
26     3      3        10847
27     3      4         5897
28     3      5         8436
29     3      6         6425
30     3      7         1389
31     3      8         1711
32     3      9         4789
33     3     10         3244
34     3     11         6485
35     3     12         7772
36     4      1         8332
37     4      2         9193
38     4      3         9200
39     4      4         5073
40     4      5         7216
41     4      6         5457
42     4      7         1224
43     4      8         1456
44     4      9         3770
45     4     10         2953
46     4     11         5207
47     4     12         6766

a) Bekijk met autocorrelatie wat de periode van de seizoen component is. Wat is de periode? Vergeet niet dat je daarvoor float-waarden moet hebben. Misschien moet je het aantal lags ook vergroten.

b) Hoe groot is de autocorrelatie voor deze periode?

c) Gaan we het additief of multiplicatief model gebruiken? Maak een grafiek van het aantal calls.

d) Als we de trend benaderen door een rechte, wat is de waarde van de slope (richtingscoÃ«fficient)?

e) Geef de voorspelling voor de volgende 2 maand en maak ook een grafiek.

f) Geef de waarde van de MAPE voor het model.