# Bezoekers in een pretpark
Een pretpark wil kunnen voorspellen hoeveel bezoekers er zullen komen in een bepaalde maand. Daarvoor hebben ze gedurende 4 jaar opgeschreven hoeveel bezoekers er waren, voor iedere maand. Je vindt deze data in “pretpark.csv”.  Deze data is ook direct leesbaar in Python (geen foute of ontbrekende data). Je moet wel zorgen dat de kolom `aantal_bezoekers` een float wordt.

In [1]:
import pandas as pd

pretpark = pd.read_csv('data/pretpark.csv', sep=';')

display(pretpark)

    jaar  maand  aantal_bezoekers
0      1      1               120
1      1      2                89
2      1      3               492
3      1      4               586
4      1      5              1300
5      1      6              1173
6      1      7              1688
7      1      8              1715
8      1      9               528
9      1     10               247
10     1     11               136
11     1     12                81
12     2      1               163
13     2      2               129
14     2      3               698
15     2      4               894
16     2      5              1828
17     2      6              1404
18     2      7              2302
19     2      8              2345
20     2      9               708
21     2     10               292
22     2     11               172
23     2     12                74
24     3      1               169
25     3      2               184
26     3      3               908
27     3      4              1167
28     3      5              2271
29     3      6              1427
30     3      7              2789
31     3      8              2548
32     3      9               751
33     3     10               381
34     3     11               224
35     3     12               105
36     4      1               230
37     4      2               204
38     4      3              1031
39     4      4              1334
40     4      5              2676
41     4      6              1882
42     4      7              3323
43     4      8              3412
44     4      9              1038
45     4     10               452
46     4     11               256
47     4     12               112

1.	Maak een grafiek van de data. Wat merk je visueel op? Stijgt of daalt het aantal bezoekers? Is er een patroon herkenbaar?

2.	Zou je het additief of multiplicatief model gebruiken?

3.	Wat is de grootte van 1 “seizoen”?

4.	Doe nu een decompositie.  Plot deze in een diagram.

5.	We gaan nu een model maken om voorspellingen te doen naar de toekomst. Doe een lineaire regressie op de trend en bepaal de slope en de intercept. Welke vergelijking vind je voor de trend?

6.	Bereken de waarden van de trend voor het komende jaar.  Welke waarden kom je uit?

7.	Wat zijn de waarden van het seizoen?

8.	Vermenigvuldig de trend-waarden nu met het patroon. Je hebt nu een schatting van het aantal bezoekers voor het volgende jaar.  Welke waarden kom je uit (rond de waarden af op een geheel getal)?

9.	Wat is de MAE, RMSE en de MAPE? Wat is de betekenis van de MAPE?