# Examen Data science 1
## 2023 - P3

Naam: Elias De Hondt
Klas: INF105A
Studentnummer: 0160712-80

In [184]:
# zet hier al je imports:
import pandas as pd
import math

In [185]:
# zet hier al je zelfgeschreven functies:

# DEEL 1

## Vraag 1

antwoorden:
1a) "   " = (Tab) = (\t)
1b) "ontbrekend" en "onbekend"
1c) zie code
1d) zie code
1e) 908

In [186]:
# 1c) Code
dataCSV = pd.read_csv("examen_2023_P3_DEEL1.csv", delimiter="\t", header=0, decimal=".")

display(dataCSV)

# 1d) Code
dataCSV = dataCSV.drop(['klantNummer'], axis=1)
display(dataCSV)

# 1e) Code
dataCSV.saldo = pd.to_numeric(dataCSV.saldo, errors="coerce")

dataCSV = dataCSV.loc[dataCSV['saldo'] > 0]
print(len(dataCSV.saldo))

,klantNummer,bedrag,saldo,kwaliteitEten,aanwezig,teamNummer,totaal_bedrag,temperatuur,meting3,inkomen
0,32858,1536.76,123.34,heel lekker,Nee,5,8731.82,aangenaam warm,670.0,2625.4
1,32103,1536.76,332.45,heel lekker,Ja,3,8619.01,aangenaam warm,745.0,2625.21
2,32698,1536.86,454.95,zeer slecht,Nee,3,8762.06,aangenaam warm,1109.0,2625.22
3,32554,1536.75,476.03,neutraal,Ja,3,8708.54,aangenaam warm,2510.0,2625.22
4,32974,1536.76,670.12,slecht,Ja,3,8618.96,warm,4001.0,2625.21
...,...,...,...,...,...,...,...,...,...,...
969,32255,1536.79,19.16,neutraal,Ja,2,8618.94,lage temperatuur,3400.0,2625.21
970,32348,1536.76,-316.09,heel lekker,Ja,4,8619.04,aangenaam warm,2534.0,2625.22
971,32283,1536.75,1595.39,heel lekker,Ja,5,8618.94,aangenaam warm,717.0,2625.21
972,32938,1536.76,99.02,heel lekker,Ja,4,8618.94,vrieskou,511.0,2625.21
973,32737,1536.79,963.97,lekker,Ja,4,8619.1,warm,1873.0,2625.21

,bedrag,saldo,kwaliteitEten,aanwezig,teamNummer,totaal_bedrag,temperatuur,meting3,inkomen
0,1536.76,123.34,heel lekker,Nee,5,8731.82,aangenaam warm,670.0,2625.4
1,1536.76,332.45,heel lekker,Ja,3,8619.01,aangenaam warm,745.0,2625.21
2,1536.86,454.95,zeer slecht,Nee,3,8762.06,aangenaam warm,1109.0,2625.22
3,1536.75,476.03,neutraal,Ja,3,8708.54,aangenaam warm,2510.0,2625.22
4,1536.76,670.12,slecht,Ja,3,8618.96,warm,4001.0,2625.21
...,...,...,...,...,...,...,...,...,...
969,1536.79,19.16,neutraal,Ja,2,8618.94,lage temperatuur,3400.0,2625.21
970,1536.76,-316.09,heel lekker,Ja,4,8619.04,aangenaam warm,2534.0,2625.22
971,1536.75,1595.39,heel lekker,Ja,5,8618.94,aangenaam warm,717.0,2625.21
972,1536.76,99.02,heel lekker,Ja,4,8618.94,vrieskou,511.0,2625.21
973,1536.79,963.97,lekker,Ja,4,8619.1,warm,1873.0,2625.21

908

## Vraag 2

antwoorden:
2a) zie code
2b) 6

In [187]:
# 2a) Code
dataCSV['kwaliteitEten'] = pd.Categorical(dataCSV['kwaliteitEten'])

print(len(dataCSV['kwaliteitEten'].unique()))

6

## Vraag 3

antwoorden:
3a) zie code
3b) 4
3c) 904

In [188]:
# 3a) Code
dataCSV.bedrag = dataCSV.bedrag.str.replace("ontbrekend" ,"1500", regex=False)
display(dataCSV)

# 3b) Code
t = 0
for rij in dataCSV.inkomen:
	if rij == "onbekend":
            t = t + 1
print(t)
# 3c) Code
dataCSV = dataCSV.loc[dataCSV['inkomen'] != "onbekend"]
display(dataCSV)

,bedrag,saldo,kwaliteitEten,aanwezig,teamNummer,totaal_bedrag,temperatuur,meting3,inkomen
0,1536.76,123.34,heel lekker,Nee,5,8731.82,aangenaam warm,670.0,2625.4
1,1536.76,332.45,heel lekker,Ja,3,8619.01,aangenaam warm,745.0,2625.21
2,1536.86,454.95,zeer slecht,Nee,3,8762.06,aangenaam warm,1109.0,2625.22
3,1536.75,476.03,neutraal,Ja,3,8708.54,aangenaam warm,2510.0,2625.22
4,1536.76,670.12,slecht,Ja,3,8618.96,warm,4001.0,2625.21
...,...,...,...,...,...,...,...,...,...
968,1543.37,836.05,slecht,Ja,3,8619.04,aangenaam warm,-177.0,2625.23
969,1536.79,19.16,neutraal,Ja,2,8618.94,lage temperatuur,3400.0,2625.21
971,1536.75,1595.39,heel lekker,Ja,5,8618.94,aangenaam warm,717.0,2625.21
972,1536.76,99.02,heel lekker,Ja,4,8618.94,vrieskou,511.0,2625.21
973,1536.79,963.97,lekker,Ja,4,8619.1,warm,1873.0,2625.21

4

,bedrag,saldo,kwaliteitEten,aanwezig,teamNummer,totaal_bedrag,temperatuur,meting3,inkomen
0,1536.76,123.34,heel lekker,Nee,5,8731.82,aangenaam warm,670.0,2625.4
1,1536.76,332.45,heel lekker,Ja,3,8619.01,aangenaam warm,745.0,2625.21
2,1536.86,454.95,zeer slecht,Nee,3,8762.06,aangenaam warm,1109.0,2625.22
3,1536.75,476.03,neutraal,Ja,3,8708.54,aangenaam warm,2510.0,2625.22
4,1536.76,670.12,slecht,Ja,3,8618.96,warm,4001.0,2625.21
...,...,...,...,...,...,...,...,...,...
968,1543.37,836.05,slecht,Ja,3,8619.04,aangenaam warm,-177.0,2625.23
969,1536.79,19.16,neutraal,Ja,2,8618.94,lage temperatuur,3400.0,2625.21
971,1536.75,1595.39,heel lekker,Ja,5,8618.94,aangenaam warm,717.0,2625.21
972,1536.76,99.02,heel lekker,Ja,4,8618.94,vrieskou,511.0,2625.21
973,1536.79,963.97,lekker,Ja,4,8619.1,warm,1873.0,2625.21

## Vraag 4

antwoorden:
4a) klantNummer = "nominaal of ordinaal" | meting3 = "nominaal of ordinaal"
4b) C = Deze heeft geen interval meetniveau
(Interval (Negatieve getallen zijn mogelijk) ("[) =, Niet=,>,<,+,- ) & Ratio (Negatieve getallen zijn niet mogelijk) ( =, Niet=,>,<,+,-,x,/ ))

In [189]:
# 4a) Code
# my_series = dataCSV.klantNummer
# if my_series.dtype == "int64" or my_series.dtype == "float64":
#     print("De serie heeft een ratio meetniveau")
# elif my_series.dtype == "object":
#     if my_series.str.isnumeric().all():
#         print("De serie heeft een ratio meetniveau")
#     else:
#         print("De serie heeft een nominaal of ordinaal meetniveau")
# else:
#     print("Het meetniveau van de serie kan niet worden bepaald")
# my_series = dataCSV.meting3
# if my_series.dtype == "int64" or my_series.dtype == "float64":
#     print("De serie heeft een ratio meetniveau")
# elif my_series.dtype == "object":
#     if my_series.str.isnumeric().all():
#         print("De serie heeft een ratio meetniveau")
#     else:
#         print("De serie heeft een nominaal of ordinaal meetniveau")
# else:
#     print("Het meetniveau van de serie kan niet worden bepaald")

## Vraag 5

antwoorden:
5a) zie code
5b) 1679.72
5c) 634.5840880503144
5d) 351193.0

In [190]:
# 5a) Code
tempData1 = dataCSV.loc[dataCSV['temperatuur'] == "warm"]
display(tempData1)

# 5b) Code
print(max(tempData1.bedrag))

# 5c) Code
tempData2 = tempData1.loc[tempData1['saldo'] > 200]
display(tempData2.saldo.mean())

# 5d) Code
tempData3 = dataCSV.loc[dataCSV['kwaliteitEten'] == "neutraal"]
tempData3 = tempData3.loc[tempData3['meting3'] != "onbekend"]
tempData3.meting3 = pd.to_numeric(tempData3.meting3, errors="coerce")

print(tempData3.meting3.sum())

,bedrag,saldo,kwaliteitEten,aanwezig,teamNummer,totaal_bedrag,temperatuur,meting3,inkomen
4,1536.76,670.12,slecht,Ja,3,8618.96,warm,4001.0,2625.21
9,1536.75,746.82,heel lekker,Ja,1,8622.91,warm,1689.0,2746.58
14,1537.09,807.49,slecht,Nee,2,8618.97,warm,2768.0,2625.25
16,1536.75,750.47,neutraal,Ja,4,8618.94,warm,1150.0,2625.21
19,1536.8,545.07,neutraal,Nee,1,8620.2,warm,530.0,2625.21
...,...,...,...,...,...,...,...,...,...
930,1536.89,756.89,heel lekker,Ja,ontbrekend,8619.38,warm,846.0,2625.25
934,1537.04,1146.82,heel lekker,Ja,4,8620.0,warm,3374.0,2625.21
939,1536.76,578.75,heel lekker,Nee,4,8618.94,warm,139.0,2625.21
945,1536.75,567.04,neutraal,Nee,3,8618.95,warm,806.0,2625.21
973,1536.79,963.97,lekker,Ja,4,8619.1,warm,1873.0,2625.21

1679.72

634.5840880503144

351193.0

# DEEL 2

In [191]:
examen_deel2 = pd.read_csv("examen_2023_P3_DEEL2.csv", delimiter=",", header=0, decimal=".")
display(examen_deel2)

,klantNummer,bedrag,saldo,kwaliteitEten,aanwezig,teamNummer,totaal_bedrag,temperatuur,meting3,inkomen
0,32858,1536.76,123.34,heel lekker,Nee,5,8731.82,aangenaam warm,670.0,2625.40
1,32103,1536.76,332.45,heel lekker,Ja,3,8619.01,aangenaam warm,745.0,2625.21
2,32698,1536.86,454.95,zeer slecht,Nee,3,8762.06,aangenaam warm,1109.0,2625.22
3,32554,1536.75,476.03,neutraal,Ja,3,8708.54,aangenaam warm,2510.0,2625.22
4,32974,1536.76,670.12,slecht,Ja,3,8618.96,warm,4001.0,2625.21
...,...,...,...,...,...,...,...,...,...,...
969,32255,1536.79,19.16,neutraal,Ja,2,8618.94,lage temperatuur,3400.0,2625.21
970,32348,1536.76,-316.09,heel lekker,Ja,4,8619.04,aangenaam warm,2534.0,2625.22
971,32283,1536.75,1595.39,heel lekker,Ja,5,8618.94,aangenaam warm,717.0,2625.21
972,32938,1536.76,99.02,heel lekker,Ja,4,8618.94,vrieskou,511.0,2625.21
973,32737,1536.79,963.97,lekker,Ja,4,8619.10,warm,1873.0,2625.21

## Vraag 6

antwoorden:
6a) B (Relatieve Frequenties)
6b) 11
6c) ?
6d) ?
6e) ?
6f) 92
6g) A
6h) D

In [192]:
# 6a) Code
aFreq = examen_deel2.teamNummer.value_counts(dropna=False) # Om de NaN toch mee te tellen (Standaard is dit True).
print(aFreq)

rFreq = examen_deel2.teamNummer.value_counts(normalize=True)
print(rFreq)

# 6b) Code
series = examen_deel2.inkomen.dropna()
n = len(series)
sturges = math.ceil(1 + math.log2(n))
print(sturges)

# 6c) Code

cutpoints = range(0, int(len(examen_deel2.saldo) / 10), 100)

klassen = pd.cut(examen_deel2.saldo, bins=cutpoints, include_lowest=True)
print(klassen)

# Absolute Frequenties (Klassen)
print(klassen.value_counts().sort_index())

# 6f) Code
a = examen_deel2.temperatuur.value_counts()
print(a)

# 6g) Code
cum_frequentie = examen_deel2.inkomen.cumsum()
totaal_frequentie = examen_deel2['inkomen'].sum()
cum_percentage = cum_frequentie/totaal_frequentie*100
print(cum_percentage)

3    287
1    220
4    203
2    146
5    118
Name: teamNummer, dtype: int64
3    0.294661
1    0.225873
4    0.208419
2    0.149897
5    0.121150
Name: teamNummer, dtype: float64
11
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
969    NaN
970    NaN
971    NaN
972    NaN
973    NaN
Name: saldo, Length: 974, dtype: category
Categories (0, interval[float64, right]): []
Series([], Name: saldo, dtype: int64)
aangenaam warm      416
warm                192
lage temperatuur    178
vrieskou             96
heet                 92
Name: temperatuur, dtype: int64
0        0.102334
1        0.204661
2        0.306988
3        0.409315
4        0.511642
          ...
969     99.590693
970     99.693020
971     99.795346
972     99.897673
973    100.000000
Name: inkomen, Length: 974, dtype: float64

## Vraag 7

antwoorden:
7a) "aangenaam warm"
7b) "heet"
7c) C
7d) B

In [193]:
# 6a) Code
print(examen_deel2.temperatuur.mode().values)

# 6a) Code
import math

d = examen_deel2.temperatuur.dropna()
n = len(d)
middle = math.floor(n / 2)
medianCategorical = d.sort_values().reset_index(drop=True)[middle]
print(medianCategorical)

['aangenaam warm']
heet

## Vraag 8

antwoorden:
8a) 0.009999999999763531
8b) 2625.21
8c) 263.39999537389235
8d) B
8e) D

In [194]:
# 8a) Code
Q1 = examen_deel2.inkomen.quantile(0.25)
Q3 = examen_deel2.inkomen.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

# 8b) Code
print(Q1)

# 8c) Code
print(examen_deel2.inkomen.std())

0.009999999999763531
2625.21
263.39999537389235

## Vraag 9

antwoorden:
9a) -441.70625
9b) 1465.6437500000002
9c) 522.97
9d) 7

In [195]:
# 9a) & 9b) Code
Q1 = examen_deel2.saldo.quantile(0.25)
Q3 = examen_deel2.saldo.quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - IQR * 1.5
upper_bound = Q3 + IQR * 1.5
print(lower_bound)
print(upper_bound)

# 9c) Code
testData1 = examen_deel2[(examen_deel2['saldo'] >= lower_bound) & (examen_deel2['saldo'] <= upper_bound)]
display(testData1.saldo.median())

# 9d) Code
print(len(examen_deel2.saldo) - len(testData1.saldo))

-441.70625
1465.6437500000002

522.97

7